.section-signature {
    position: relative;
    z-index: -2;
    padding: 10em 0;
    background-image: url("../images/bg-dish.png");
    background-size: cover;
    background-position: center;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(236, 212, 80, 0.7);
    }

    p {
        margin: 0 auto;
        width: 20em;
        line-height: 1.3;
        font-size: 1.5em;
    }

    h4 {
        margin: 0.7em 0 0;
    }
}

@media screen and (max-width: 600px) {
    .section-signature p {
        width: auto;
    }
}