.section-subscribe {
    padding: 6em 0;
    background-image: url("../images/bg-icons.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    text-align: center;

    h4 {
        margin: 0 0 0.5em 0;
    }
    p {
        margin: 0 auto;
        width: 25em;
        line-height: 1.3;
    }

    .form-inner {
        display: flex;
        justify-content: center;
    }

    form {
        margin-top: 2em;

        input, .btn {
            border-radius: 0;
            border: 0;
            box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
        }

        input {
            padding: 0 0.5em;
            width: 17em;
            font-size: 1em;

            &:focus {
                outline: none;
            }
        }

        .btn {
            padding-left: 1.5em;
            padding-right: 1.5em;
        }
    }
}
