.dish {
    display: flex;
    padding-left: 3em;
    padding-right: 3em;

    &-content,
    &-pic {
        flex: 1;
    }

    &-content {
        .headline {
            margin: 1em 0 0.5em;
        }

        p {
            margin: 1em 0;
            line-height: 1.3;
            text-shadow: 0 0 0.1em #000;
            color: #fff;
        }
        .btn {
            display: inline-block;
            margin-top: 1em;
        }
    }

    &-pic {
        text-align: left;

        figure {
            display: inline-block;
            margin: 0;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 20em;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .dish {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        &-pic {
            text-align: center;
        }
    }
}