.header-search {
    position: relative;
    margin-left: auto;
    padding-left: 4em;

    input[type=checkbox] {
        display: none;

        &:checked + form {
            width: 15em;
        }
    }

    form {
        position: absolute;
        right: 0;
        width: 0;
        display: flex;
        margin: 0;
        padding: 0;
        background-color: transparent;
        overflow: hidden;
        transition: width 0.3s;

        input, button {
            height: 2em;
            font-size: 1em;
            border-radius: 0;
            border: 0;
        }

        input {
            width: 100%;
            padding: 0 2.5em 0 0.5em;
            border-radius: 0.3em;

            &:focus {
                outline: none;
                box-shadow: 0 0 0.5em #fff;
            }
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
            width: 2em;
            border-top-right-radius: 0.3em;
            border-bottom-right-radius: 0.3em;
            background-color: #ffc200;
            color: #333;
        }
    }
}
