.headline {
    font-size: 2.2em;
    font-family: "Bodoni Moda", sans-serif;
    line-height: 1.2;
    color: #333;

    &-primary {
        color: #ffc200;
    }

    &-large {
        font-size: 2.8em;
    }
}
