.list-dishes {
    display: flex;
    margin: 3em 0 0 0;
    padding: 0;
    list-style: none;

    li {
        h3 {
            margin: 1em 0 0.5em;
            font-size: 1.2em;

            a {
                text-decoration: none;
                transition: color 0.3s;
                color: #333;

                &:hover {
                    color: #ffc200;
                }
            }
        }

        figure {
            margin: 0 2em;

            a {
                position: relative;
                display: inline-block;
                border-radius: 50%;
                overflow: hidden;

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 0;
                    height: 0;
                    background-color: rgba(0, 0, 0, 0.2);
                    border-radius: 50%;
                    transition: all 0.3s;
                }

                &:hover::after {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                img {
                    width: 100%;
                }
            }
        }

        p {
            margin: 0.5em 0;
        }
    }
}
