.header-nav {
    flex: 100;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;

    li {
        display: inline-block;
        margin: 0 1.5em;

        a {
            transition: all 0.3s;
            text-decoration: none;
            color: #fff;

            &:hover {
                text-shadow: 0 0 0.1em rgba(255, 255, 255, 0.6);
                color: #ffc200;
            }
        }
    }
}

.header-nav-mobile {
    display: none;
    margin-left: 1em;

    .nav-icon {
        font-size: 2em;
        color: #fff;
    }

    input[type=checkbox] {
        display: none;

        &:checked + ul {
            max-height: 15em;
        }
    }

    ul {
        list-style: none;
        position: absolute;
        right: 0;
        width: 45%;
        min-width: 15em;
        max-height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        transition: max-height 0.3s;
        background-color: #fff;

        li a {
            display: block;
            padding: 0.5em 0;
            text-align: center;
            text-decoration: none;
            border-bottom: 1px solid #333;
            color: #333;
        }
    }
}

@media screen and (max-width: 600px) {
    .header-nav {
        display: none;
    }
    
    .header-nav-mobile {
        display: block;
    }
}