.section {
    padding: 4em 0;
    text-align: center;

    &-headline {
        margin: 0 1em 0 0;
    }
    &-intro {
        margin: 2em auto;
        width: 30em;
        line-height: 1.3;
    }
}
.section-list {
    display: flex;
    margin: 3em 0 0 0;
    padding: 0;
    list-style: none;

    > li {
        flex: 1;
        display: inline-block;
    }
}

@media screen and (max-width: 600px) {
    .section-list {
        flex-direction: column;

        > li {
            display: block;
            margin: 3em 0 0 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }
    
    .section-intro {
        width: auto;
    }
}