/** buttons **/
.btn {
    padding: 0.6em 2em;
    font-size: 1em;
    text-decoration: none;
    font-weight: normal;
    border-radius: 0.3em;
    border: 0;
    cursor: pointer;
}
.btn-primary {
    transition: box-shadow 0.3s;
    background-color: #ffc200;
    color: #333;
}
.btn-primary:hover {
    box-shadow: 0 0 0.6em rgba(255, 255, 255, 0.6);
}

.btn-icon {
    color: #fff;
}
.btn-icon.icon-search {
    font-size: 2em;
}

/** headline **/
.headline {
    font-size: 2.2em;
    font-family: "Bodoni Moda", sans-serif;
    line-height: 1.2;
    color: #333;
}
.headline-primary {
    color: #ffc200;
}
.headline-large {
    font-size: 2.8em;
}

/** section **/
.section {
    padding: 4em 0;
    text-align: center;
}
.section-headline {
    margin: 0 1em 0 0;
}
.section-intro {
    margin: 2em auto;
    width: 30em;
    line-height: 1.3;
}
.section-list {
    display: flex;
    margin: 3em 0 0 0;
    padding: 0;
    list-style: none;
}
.section-list > li {
    flex: 1;
    display: inline-block;
}

/** social **/
.socials li {
    display: inline-block;
    margin-right: 0.3em;
}
.socials li a {
    display: inline-block;
    text-decoration: none;
}
.socials li a i {
    font-size: 2em;
}

@media screen and (max-width: 600px) {
    .section-list {
        flex-direction: column;
    }
    .section-list > li {
        display: block;
        margin: 3em 0 0 0;
    }
    .section-list > li:first-child {
        margin-top: 0;
    }
    .section-intro {
        width: auto;
    }
}