@import 'main';
@import 'partials/header';
@import 'partials/footer';

@import 'sections/section-best-seller';
@import 'sections/section-oriental-taste';
@import 'sections/section-chicken-grill';
@import 'sections/section-signature';
@import 'sections/section-statistics';
@import 'sections/section-subscribe';
@import 'sections/section-top-content';

@import 'components/buttons';
@import 'components/header-search';
@import 'components/headlines';
@import 'components/list-dishes';
@import 'components/dish';
@import 'components/main-nav';
@import 'components/section';
@import 'components/socials';
